<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2><%= t ".edit" %><%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field form-group">
        <%= f.label :name, t(".name") %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: t(".name"), class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :birth_day, t(".birth_day") %><br />
        <%= f.datetime_select :birth_day, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :email, t(".email") %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: t(".email"), class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :avatar, t(".avatar") %><br />
        <%= f.file_field :avatar %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div><%= t ".waitting_confirmation" %><%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field form-group">
        <%= f.label :password, t(".password") %><i><%= t ".ignore_password" %></i><br />
        <%= f.password_field :password, autocomplete: t(".offs"), class: "form-control" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %><%= t ".notice_password" %></em>
        <% end %>
      </div>

      <div class="field form-group">
        <%= f.label :password_confirmation, t(".password_confirmation") %><br />
        <%= f.password_field :password_confirmation, autocomplete: t(".offs"), class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit t(".update"), class: "btn btn-primary" %>
      </div>
    <% end %>

    <h3><%= t(".cancel_account") %></h3>

    <p><%= t ".unhappy" %><%= button_to t(".cancel_account"), registration_path(resource_name),
      data: { confirm: t(".you_sure") }, class: "btn btn-danger", method: :delete %></p>

    <%= link_to t(".back"), :back %>
  </div>
</div>
