<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t(".project"), root_path, id: t(".logo") %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("home"), root_path %></li>
        <% if user_signed_in? %>
          <li><%= image_tag current_user.avatar.url, size: Settings.users.avatar.size if current_user.avatar.present? %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t "account" %><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t(".settings"), edit_user_registration_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t(".logout"), destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t(".login"), new_user_session_path %></li>
          <li><%= link_to t(".signup"), new_user_registration_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
