<!DOCTYPE html>
<html>
  <head>
    <title><%= t ".project" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "admin_application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "admin_application", "data-turbolinks-track": "reload" %>

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <%= render "layouts/admin_header" %>
    <div class="content-wrapper">
      <div class="container-fluid">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <%= link_to t(".dashboard"), "#"%>
          </li>
          <li class="breadcrumb-item active"><%= yield :title %></li>
        </ol>
        <%= yield %>
      </div>
      <footer class="sticky-footer">
        <div class="container">
          <div class="text-center">
            <small><%= t ".copyright" %></small>
          </div>
        </div>
      </footer>
      <%= link_to "#page-top", class: "scroll-to-top rounded" do %>
        <i class="fa fa-angle-up"></i>
      <% end %>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"><%= t ".leave" %></h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body"><%= t ".guilde_logout" %></div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal"><%= t ".cancel" %></button>
              <%= link_to t(".logout"), admin_logout_path, method: :delete, class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
